body {
    font-family: 'Montserrat';
    color: #FCAF02;
    height: 100%;
    width: 100%;
    background-color: #1E1E1E;
    margin: 0px;
}

.mainContainer {}

.navContainer {

    background-color: #FCAF02;
    color: black;
    height: 86px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center
}

.leftContent {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    text-decoration: none;
    margin-left: 10%;


}

.rightContainer {
    width: 73%;
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-around; */
    align-content: flex-end;
    margin-right: 4%;
    font-weight: 400;
    font-size: 28px;
    color: #000000;
}

.rightContainer a {
    margin: 0px 1% 0px 1%;
    text-decoration: none;

}

section {
    margin: 4% 4% 4% 1%;
    /* height: 100%;
    width: 100%; */
}

.headingContainer {
    display: flex;
    justify-content: space-between;
}

.leftdetail {
    display: flex;
    flex-direction: column;
}

.headingContainer .leftdetail h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    margin: 0px;

}

.headingContainer .leftdetail p {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    margin: 5% 0px;


}

.headingContainer .leftdetail button {
    background: #FCAF02;
    border-radius: 500px;
    width: 148px;
    height: 40px;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    margin: 0px;


}

.headingcontact{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    margin: 0px 0px 2% 0px;
}

.imgProfile {
    width: 496px;
    height: 376px;
}

.contactContainer{
    display: flex;
    flex-direction: column;
    
}

.inputTag{
    border: 2px solid #FCAF02;
    border-radius: 100px;
    background-color: #1E1E1E;
    height: 50px;
    margin: 1% 0px;
    text-indent: 10px;

}

.btnSubmit{
    color: #000000;
    height: 44px;
    width: 172px;
    font-size: 32px;
    border: 2px solid #FCAF02;
    border-radius: 100px;
    background-color: #FCAF02;
    font-size: 18px;
    font-weight: 700;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FCAF02;
    opacity: 1; /* Firefox */
  }

#city{
    width: 48%;
}  

#number{
    width: 48%;
}

.contenthalf{
    display: flex;
    justify-content: space-between;
}

.btnContainer{
    text-align: center;
    margin: 3% 0px 0px 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
  }

  thead, td ,tbody,th{
    border: 2px solid #FCAF02;
    /* color: #FCAF02; */
    font-size: 28px;
  }

  th:nth-child(1){
    width: 10%;
  }
  th:nth-child(2){
    width: 40%;
    text-align: start;
    padding: 0px 0px 0px 15px;

  }
  th:nth-child(3){
    width: 50%;
    text-align: start;
    padding: 0px 0px 0px 15px;
  }

  td:nth-child(1){
    text-align: center;

  }

  td:nth-child(2){
    padding: 0px 0px 0px 15px;
  }
  td:nth-child(3){
     padding: 0px 0px 0px 15px;
  }

 table tr:nth-child(7) {
    background-color: #FCAF02;
    color: #000000;
    border-color: #000000;
  }

  #border{
    border-left: 2px solid black;  }
#bordertest{
    border-left: 2px solid black; 
    border-right: 2px solid black; 

}